*{
    margin: 0 !important; /* sets without a margin */
	padding: 0;
}

.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.menu ul{ 
	min-width: 50px;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 1;
}

.logo{
	height: 70%;
}

a{
	list-style: none;
	padding: 28px 15px;
	color: #FE56A4;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	text-decoration: none;
}

a:hover{
	color: white;
}

#home{
	height: 480px;
	background: url(bg.png);
	background-position: center;
	background-size: cover;
	display: flex;
}

#work{
	height: 600px;
	background: url(bg1.png);
	background-position: center;
	background-size: cover;
	display: block;
	
}

#skill_about{
	height: 380px;
	display: flex;
	background-image: url(bg2.png);
	background-position: center;
	background-size: cover;
}

#contact{
	height: 200px;
	background: url(bg.png);
	background-position: center;
	background-size: cover;
	display: flex;
}

.photo{
	flex: 1;
	justify-content: center;
	align-items: center;
	display: flex;
}

.img{
	height: 90%;
}

.hello_world{
	flex: 1;
	text-align: right;
	display: block;
}

.description{
	flex: 1.5;
	text-align: left;
	display: block;
}

.hello{
	color: white;
	font-family: 'Times New Roman', Times, serif, sans-serif;
	font-size: 40px;
	letter-spacing: 15px;
	top: 150px;
	position: relative;
}

.world{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 72px;
	letter-spacing: 10px;
	font-weight: bold;
	position: relative;
	top: 150px;
}

.im{
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	letter-spacing: 3px;
	position: relative;
	top: 200px;
}

.name{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 56px;
	letter-spacing: 5px;
	position: relative;
	font-weight: bold;
	top: 200px;
}

.desc{
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 17px;
	letter-spacing: 4px;
	position: relative;
	top: 200px;
}

.project{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 38px;
	letter-spacing: 10px;
	font-weight: bold;
	position: relative;
	display: block;
	top: 50px;
	padding-left: 150px;	
}

.img_proj{
	display: flex;
	justify-content: center;
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	position: relative;
	top: 60px;
}

.img_list{
	height: 400px;
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cmsc12{
	height: 400px;
	background: url(img12.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	flex: 1;
}
.cmsc12:hover{
	background-image: url(12_2.png);
}

.cmsc22{
	height: 400px;
	background-image: url(img22.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	flex: 1;
}

.cmsc22:hover{
	background-image: url(22_2.png);
}

.cmsc150{
	height: 400px;
	background-image: url(img150.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	flex: 1;
}

.cmsc150:hover{
	background-image: url(150_2.png);
}

.skill{
	flex: 1;
}

.sk_head{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 38px;
	letter-spacing: 10px;
	font-weight: bold;
	position: relative;
	display: block;
	top: 60px;
	padding-left: 150px;
}

.skill ul{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	position: relative;
	top: 70px;
	left: 150px;
	line-height: 25px;
}

.about{
	flex: 1;
}

.ab_head{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 38px;
	letter-spacing: 10px;
	font-weight: bold;
	position: relative;
	display: block;
	top: 60px;
	padding-right: 150px;
}

.auto{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	position: relative;
	top: 70px;
	line-height: 25px;
	padding-right: 100px;
	text-align: justify;
}